{{ _.each(topics, function(topic){ }}
  <li class="topic">
    <a class="title" href="{{= topic.url }}" title="{{= topic.title }}">
      {{= topic.title }}
    </a>
    <span class="date" title="{{= topic.datetime }}">
      {{= moment(topic.datetime).format('MM.DD.YYYY') }}
    </span>
    <span class="author">
      {{= topic.author }}
    </span>
  </li>
{{ }); }}
