//colors
$sw_teal_light:         #4fbee7;
$sw_teal:               #0c7ca1;
$sw_teal_dark:          #0081ad;

$sw_white:              #fff;
$sw_white_dark:         #f5f5f5;
$sw_white_darker:       #e8e8e8;
$sw_white_darkest:      #ebebeb;

$sw_lightblue:          #59a4c9;

$sw_gray_blue:          rgb(77,95,109);

$sw_skyblue:            #4b8fb7;
$sw_skyblue_dark:       #327aa7;

$sw_orange_bright:      #f66923;

$sw_lightgray:          #d3d3d3;
$sw_lightgray_dark:     #b6b6b6;

$sw_gray_darkest:       #414141;
$sw_gray:               #919191;
$sw_orange:             #ea560e;

$sw_pure_black:         #000;

$sw_black_light:        #212121;
$sw_black_lighter:      #5d5d5d;

$sw_lime:               #58ac07;

$sw_yellow_highlight:   #ffff94;

$sw_border_color:           $sw_lightgray;
$sw_border_color_lighter:   lighten($sw_border_color, 10%);
$sw_border_color_light:     lighten($sw_border_color, 5%);
$sw_border_color_dark:      darken($sw_border_color, 5%);

//v2
$sw-grayblack:          rgb(40,45,48);
$sw_black:              #333333;
$sw_orange:             #F58220;
$sw_blue:               #2186CA;
$sw_blue_alt1:          #2C92D7;

$sw_gray_five_percent:  rgb(242, 242, 242);
$sw_gray:               rgb(233, 233, 233);
$sw_dark_gray:          rgb(157,157,157);

// mixins
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
//auxiliary classes
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.relative{position: relative;}
