body.documentation_index {
  text-align: center;

  section.features {
    padding: 20px 0 4em;

    figure {
      display: inline-block;
      vertical-align: top;

      &.square {
        position: relative;
        width: 360px;
        height: 270px;
        border: 1px solid lightgray;
        padding: 22px 0 0;
        text-align: center;
        margin-bottom: 20px;
        box-shadow: 0 0 10px 0 $sw_lightgray;

        h3 {
          margin-top: 16px;
          margin-bottom: 14px;
        }

        .btn {
          position: absolute;
          bottom: -50px;
          left: 0;
          width: 100%;
          font-size: 1.1em;
          padding: .8em;

          @extend .btn-blue;
        }

        .new-label {
          position: absolute;
          top: 0;
          right: 0;
          width: 90px;
          height: 90px;
        }

        &:first-of-type {
          margin-right: 13%;
        }
      }

      &.horizontal {
        margin-top: 120px;
        width: 730px;
        text-align: left;

        .image-wrapper, figcaption {
          display: inline-block;
          vertical-align: middle;

        }
        .image-wrapper {
          width: 170px;
          margin-right: 20px;
          text-align: center;
        }
        figcaption {
          text-align: left;
        }

        h3 {
          margin-top: 0;
        }

        a {
          display: block;
          margin-top: 2em;
          @extend .medium-blue-link;
        }
      }
    }
  }
}

.documentation-hero-header {
  img {
    height: 46px;
    margin-right: 30px;
  }

  h1 {
    display: inline;
    vertical-align: middle;
    line-height: 46px;
  }
}

.doc-content {
  table {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    overflow: auto;
    word-break: normal;

    th {
      font-weight: bold;
    }

    th, td {
      padding: 6px 13px;
      border: 1px solid #ddd;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #ccc;
    }
  }

  h1, h2, h3, h4 {
    margin-top: -47px;
    padding-top: 67px;
  }

  ol, dl, ul, table, pre, blockquote {
    margin-bottom: 10px;
  }

  ul {
    padding-left: 2em;
    margin-bottom: 16px;

    li {
      list-style-type: disc;
    }
  }
}

.login-button-form-thank-you, .copy-success {
  display: none;
}

.copy-success {
  vertical-align: text-top;
  line-height: 24px;
}

.login-button-form_header {
  margin-top: 0;
}

.follow-button-code-form, .login-button-form {
  @extend .well;
  width: 50%;
}

.highlighted {
  background: $warningFill;
}

.terms-of-use {
  font-size: 11px;
}

.code-input {
  white-space: pre;
}

.follow-button-code-form {
  .terms-of-use {
    margin-bottom: 0;
  }

  .follow-button-code, .terms-of-use {
    margin-top: 10px;
  }

}

.screenshot {
  float: right;
}

.documentation_share_reviews {
  img {
    float: left;
    margin: 5px 20px 5px 0;
  }
}
