.download-box_icon {
  width: 75px;
  height: 75px;
}

.download-box {
  width: 50%;
  padding: 50px 30px;
  border: 1px solid #d3d3d3;
  text-align: center;
  margin: auto;
}

.download-box_title {
  margin-top: 30px;
  font-size: 32px;
}

.download-box_description {
  margin-top: 25px;
  font-size: 18px;
}

a.download-box_button {
  margin-top: 20px;
  padding: 11px 19px;
  font-size: 18px;
}
