body.support {
  section.intro {
    padding-top: 24px;
    padding-bottom: 0;
    border: none;

    .sui-fluid-container {
      padding-bottom: 0
    }
  }

  h1 {
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 1em;
  }

  .columns-wrapper {
    @include clearfix;
  }

  .column {
    float: left;
    width: 28.6%;
    margin-right: 7%;

    &:last-of-type {
      margin-right: 0;
      padding-left: 4%;
    }

    h2 {
      margin-top: 0;
      font-size: 1.6em;
      margin-bottom: 1.2em;
    }

    p, a {
      font-size: 1.2em;
      line-height: 2em;
    }
  }
}

body.how-it-works_faq {
  section.faq {
    ul li {
      margin-bottom: .6em;

      h4 {
        font-size: 1.1em;
        cursor: pointer;
        &:hover {text-decoration: underline;}
        &:before{
          display:inline-block;
          content: '►';
          width: 1rem;
          font-size: .6em;
          padding-right: .8em;
          position: relative;
          top: -.2em;
        }
      }

      p {
        display: none;
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: .9em;
        cursor: default;
      }

      &.on{
        h4:before{content: '▼';}
        p{display: block;}
      }
    }
  }
}
