<footer>
  <div class="sui-fluid-container">
    <a href="http://spiceworks.com" class="spiceworks-brand">
      <%= image_tag 'spiceworks_reversed.png', alt: 'Spiceworks Logo' %>
    </a>
    <div class="mid-section">
      <div class="copy-wrapper">
        <p>An IT application, community, and marketplace all rolled into one. Spiceworks is the network more than 6 million IT professionals use to connect with one another and over 3,000 technology brands.</p>
        <p><a href="http://spiceworks.com">Learn More <span class="arrows">»</span></a></p>
      </div>
      <div class="button-wrapper">
        <%= link_to 'Contact Us', '/support/index.html', class: 'btn btn-orange is-outlined' %>
      </div>
    </div>
    <div class="bottom-section">
      <span class="copyright">© Copyright 2006-14 Spiceworks, Inc.</span>
      <ul class="footer-links">
        <li><a href="//www.spiceworks.com/about">About</a></li>
        <li><a href="//www.spiceworks.com/app">App</a></li>
        <li><a href="//www.spiceworks.com/downloads">Downloads</a></li>
        <li><a href="//community.spiceworks.com">Community</a></li>
        <li><a href="//www.spiceworks.com/marketing">Advertising</a></li>
      </ul>
    </div>
  </div>
</footer>
