<header class="site-navigation sui-opt-in">
  <nav class="global-nav " data-navbar="global">
    <div class="nav-fluid-container">
      <a class="global-nav_brand" href="/">Home</a>
      <img src="//static.spiceworks.com/assets/masthead/print_logo.png" class="global-nav_print-logo">

    </div>
  </nav>
    <nav class="domestic-nav affix-top" data-sticky="true" data-navbar="domestic">
      <div class="nav-fluid-container">

    <a class="domestic-nav_brand" href="/"><div class="swoosh-logo"></div><span class="domestic-nav_title">Developers</span></a>
    <ul class="domestic-menus"><li class=" domestic-menus_entry   "><a active="false" href="/how-it-works">How It Works</a></li><li class=" domestic-menus_entry   "><a active="false" href="/documentation">Documentation</a></li><li class=" domestic-menus_entry   "><a active="false" href="/sdk">SDK</a></li><li class=" domestic-menus_entry   "><a active="false" href="/support">Support</a></li><li class=" domestic-menus_entry   "><a active="false" href="/">Forum</a></li></ul>
    <ul class="secondary-menus"><li class="submit-app domestic-menus_entry  submit-app "><a class="submit-app" href="/">Submit App</a></li></ul>
      </div>
    </nav>
</header>
