---
title: 'Spiceworks Developers - FAQ'
---

<section class="intro">
  <h1>Spiceworks Developers Program FAQ</h1>
  <h2>Questions on developing apps for Spiceworks? You're in the right place.</h2>
  <hr class="divider-shadow">
</section>
<section class="faq">
  <ul class="faq">
    <li>
      <h4 id="im-interested-in-building-an-app-how-do-i-start">I’m interested in building an app… how do I start?</h4>
      <p>Awesome! It’s easy to get started – you’ll find all the documentation and development tools you’ll need right here. Be sure to create your <a href="http://survey.spiceworks.com/s3/createapps">Spiceworks account</a> to recieve updates our the Developer Program, API updates, etc.<br>
      Get started by <a href="http://developers.spiceworks.com/documentation/">browsing the docs</a>. </p>
    </li>
    <li>
      <h4 id="what-resources-are-available-to-help-me-get-started">What resources are available to help me get started?</h4>
      <p>There are many resources available:<br>
  <a href="http://community.spiceworks.com/extending-spiceworks">Developers Forum</a><br>
  <a href="http://www.spiceworks.com/brand/#nav-apps">Spiceworks Brand Guide</a><br>
  App Center Product Team: <a href="mailto:spiceworksappcenter@spiceworks.com">spiceworksappcenter@spiceworks.com</a> </p>
    </li>
    <li>
      <h4 id="where-can-i-find-the-development-kit">Where can I find the development kit?</h4>
      <p>You can find the Spiceworks Developer Edition <a href="http://developers.spiceworks.com/">here</a>.</p>
    </li>
    <li>
      <h4 id="where-can-i-find-documentation">Where can I find documentation?</h4>
      <p>Right here!  Check out the <a href="http://developers.spiceworks.com/documentation/">docs</a>.  </p>
    </li>
    <li>
      <h4 id="will-spiceworks-provide-hosting-for-apps">Will Spiceworks provide hosting for apps?</h4>
      <p>At this time, we have no plans to provide hosting for apps. If you use the new Platform API, you’ll need to host your service externally from Spiceworks. </p>
    </li>
    <li>
      <h4 id="what-are-the-customer-data-policies">What are the customer data policies?</h4>
      <p>You can find Spiceworks data usage policies here: <a href="http://www.spiceworks.com/privacy/">http://www.spiceworks.com/privacy/</a> </p>
    </li>
    <li>
      <h4 id="do-i-need-to-support-my-app">Do I need to support my app?</h4>
      <p>All apps that generate revenue must be supported.  Support isn’t required for free apps, but we strongly encourage you to support all apps you create.</p>
    </li>
    <li>
      <h4 id="what-is-the-app-center-roadmap">What is the App Center roadmap?</h4>
      <p>For May 2015, we’re working on the ability for you to sell your apps.  Later this year, we will be adding functionality like in-app purchases, events, unique app urls per user, etc.</p>
    </li>
    <li>
      <h4 id="how-can-i-find-a-developer-to-build-my-app">How can I find a developer to build my app?</h4>
      <p>We plan to develop a community of partners and developers that will be available to build apps.  Until then, we suggest you reach out to <a href="//community.spiceworks.com/extending-spiceworks">Platform Developers Group</a> in the Spiceworks Community.</p>
    </li>
    <li>
      <h4 id="when-and-how-can-i-sell-apps-in-the-app-center">When and how can I sell apps in the App Center?</h4>
      <p>Our plan to offer purchasing in May 2015.  Later in the year, we plan to add other selling options, such as in-app purchases. </p>
    </li>
    <li>
      <h4 id="is-there-a-charge-for-listing-an-app">Is there a charge for listing an app?</h4>
      <p>Nope! Listing an app in the App Center is free. If you decide to sell your app (when this is available in May 2015), we will take a 30% share of the revenue.  </p>
    </li>
    <li>
      <h4 id="how-does-the-revenue-share-work">How does the revenue share work?</h4>
      <p>Spiceworks will handle all the payments and processing for you. You’ll receive payment for 70% of revenues. </p>
    </li>
    <li>
      <h4 id="how-do-i-get-paid">How do I get paid?</h4>
      <p>
        We plan to send out payments once a month after the revenue collected
        reaches a set threshold.  For more information, check out the
        <a href="http://developers.spiceworks.com/terms-and-conditions.html#10.-payments-&-revenue-share">
          Payments &amp; Revenue Share</a> section of our App Center
        <a href="http://developers.spiceworks.com/terms-and-conditions.html#10.-payments-&-revenue-share">
          Terms &amp; Conditions</a>.
      </p>
    </li>
    <li>
      <h4 id="how-can-i-market-my-app">How can I market my app?</h4>
      <p>Glad you asked! There are many ways to market your app, from featured placement in the App Center to banners on Spiceworks.  If you would like more information about how to market your app in Spiceworks, please reach out to your sales rep or <a href="mailto:sales@spiceworks.com">sales@spiceworks.com</a>.</p>
    </li>
    <li>
      <h4 id="why-is-my-app-no-longer-listed">Why is my app no longer listed?</h4>
      <p>If a bug is reported, or we find some other problem with an app, we will remove it from the App Center.  If you notice your app missing, you should contact us at <a href="mailto:spiceworksappcenter@spiceworks.com">spiceworksappcenter@spiceworks.com</a>.</p>
    </li>
    <li>
      <h4 id="what-type-of-reports-can-i-build">What type of reports can I build?</h4>
      <p>Spiceworks gives you several reports you can use out of the box. You can also create your own and share them with others. Be sure to go over the <a href="http://developers.spiceworks.com/documentation/reports/">Reports Overview</a> guide to learn all about them.</p>
    </li>
    <li>
      <h4 id="how-can-i-change-the-language-in-spiceworks">How can I change the language in Spiceworks?</h4>
      <p>Spiceworks provides Language Packs in the App Center - they allow you to change the language of the entire app. Want to create your own? <a href="http://developers.spiceworks.com/documentation/plugins/language-packs.html">Start here…</a> </p>
    </li>
  </ul>
</section>
