---
full_width: true
---

<section class="hero">
  <div class="sui-fluid-container">
    <h1>Build on a Platform for 6 million IT pros.</h1>
    <h2>Integrate your app with the world's largest IT platform.</h2>
    <div class="buttons-wrapper">
      <a href="#" data-modal-name="join" data-target="#sign-up-modal" data-toggle="modal" class="btn btn-orange">Sign Up</a>
      <a href="/documentation/" class="btn btn-orange is-outlined">View Documentation</a>
    </div>
  </div>
</section>
<section class="features">
  <div class="sui-fluid-container">
    <figure>
      <%= image_tag 'home/develop-icon.png' %>
      <figcaption>
        <h2>Develop Apps</h2>
        <p>Access free development tools and documentation</p>
        <p>Get free commerce support</p>
        <p>Connect with other developers</p>
      </figcaption>
    </figure>
    <figure>
      <%= image_tag 'home/user-icon.png' %>
      <figcaption>
        <h2>Reach IT Pros</h2>
        <p>Distribute IT apps in the Spiceworks App Center for free</p>
        <p>Set your price (even if it is free)</p>
        <p>Be a part of the tool IT Pros use everyday</p>
      </figcaption>
    </figure>
    <figure>
      <%= image_tag 'home/money-icon.png' %>
      <figcaption>
        <h2>Get Paid</h2>
        <p>Let Spiceworks handle the payment details</p>
        <p>Get 70% of app generated revenue</p>
      </figcaption>
    </figure>
  </div>
</section>
<section class="app-center">
  <div class="sui-fluid-container">
    <div class="copy-wrapper">
      <h2>The Spiceworks App Center</h2>
      <p>The Spiceworks App Center is an open marketplace for you to distribute IT apps extending the Spiceworks Platform - for free or at the price you set. Reach Spiceworks downright massive audience of 6+ million IT pros seeking the best-of-the best IT apps.</p>
      <span>
        <a href="http://community.spiceworks.com/appcenter">Learn More <span>»</span></a>
      </span>
    </div>
    <div class="image-wrapper">
      <%= image_tag 'home/app-center.jpg' %>
    </div>
  </div>
</section>
<section class="faq">
  <div class="sui-fluid-container">
    <p>
      Still have questions? <% link_to '/support/faq.html' do %>
        Check out the FAQ <span class="arrows">»</span>
      <% end %>
    </p>
  </div>
</section>
