<div class="with-sidebar">
    <div class="aside-wrapper">
      <aside class="affix-top">
        <nav class="sidebar">
          <h4>What is Spiceworks?</h4>
          <ul class="nav" role="tablist">
              <li><a href="#what-is-spiceworks">First Things First</a></li>
              <li><a href="#who-uses-spiceworks">Who Uses Spiceworks</a></li>
              <li><a href="#how-do-it-pros-use-spiceworks">How Do IT Pros Use Spiceworks</a></li>
              <li><a href="#a-community-6-million-strong">A Community 6 Million Strong</a></li>
              <li><a href="#next-steps">Next Steps</a></li>
          </ul>
        </nav>
      </aside>
    </div>

    <main class="with-left-sidebar">
      <section class="documentation-hero-header">
        <%= image_tag 'spiceworks-o.png', alt: "Spiceworks Swoosh" %>
        <h1>Meet Spiceworks: Where IT goes to work.</h1>
        <hr class="divider-shadow">
      </section>
      <section class="doc-content">
        <h2 id="what-is-spiceworks">First things first: What is Spiceworks?</h2>
        <p>
          <iframe src="http://cdnapi.kaltura.com/p/1626222/sp/162622200/embedIframeJs/uiconf_id/26477021/partner_id/1626222?iframeembed=true&playerId=kaltura_player_1430346417&entry_id=0_xefcqo5d&flashvars[akamaiHD.loadingPolicy]=preInitialize&flashvars[akamaiHD.asyncInit]=true&flashvars[twoPhaseManifest]=true&flashvars[streamerType]=hdnetworkmanifest" width="715" height="402" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0" style="width: 715px; height: 402px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject"> <span itemprop="name" content="Spiceworks Overview"></span> <span itemprop="description" content=""></span> <span itemprop="duration" content="115"></span> <span itemprop="thumbnail" content="http://cdnbakmi.kaltura.com/p/1626222/sp/162622200/thumbnail/entry_id/0_xefcqo5d/version/100002/acv/192"></span> <span itemprop="width" content="715"></span> <span itemprop="height" content="402"></span> </iframe>
        </p>
        <p>
          Spiceworks helps IT pros tackle their IT day with a single integrated
          desktop app that gives them the tools they need to support their
          company’s employees. Spiceworks is a free Windows application written
          in Ruby on Rails that provides the following services on one platform:
          <ul>
            <li>
              Network Inventory: provides network inventory and monitoring of
              all the devices on the network by discovering IP-addressable
              devices. It can be configured to provide custom alerts and
              notifications based on various criteria.
            </li>
            <li>
              Help Desk: provides a ticketing system, a user portal, an
              integrated knowledge base, and mobile ticket management features.
            </li>
            <li>
              Mobile Device Management: includes inventory and monitoring of
              mobile devices. Users can expand this base functionality to
              include premium MDM features from MaaS360 at a discounted
              Spiceworks-only price. Spiceworks also has companion apps on <a
              href="https://play.google.com/store/apps/details?id=com.spiceworks"
              target="_blank">Android phones or tablets</a> as well as on the <a
              href="http://itunes.apple.com/us/app/spiceworks/id420457472?mt=8"
              target="_blank">Apple iPhone &amp; iPad</a>.
            </li>
          </ul>
        </p>

        <h2 id="who-uses-spiceworks">Who uses Spiceworks?</h2>
        <p>
          <iframe src="http://cdnapi.kaltura.com/p/1626222/sp/162622200/embedIframeJs/uiconf_id/26477021/partner_id/1626222?iframeembed=true&playerId=kaltura_player_1430513232&entry_id=0_nt0mm3lh&flashvars[akamaiHD.loadingPolicy]=preInitialize&flashvars[akamaiHD.asyncInit]=true&flashvars[twoPhaseManifest]=true&flashvars[streamerType]=hdnetworkmanifest" width="715" height="402" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0" style="width: 715px; height: 402px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject"> <span itemprop="name" content="SpiceHeads Overview"></span> <span itemprop="description" content=""></span> <span itemprop="duration" content="162"></span> <span itemprop="thumbnail" content="http://cdnbakmi.kaltura.com/p/1626222/sp/162622200/thumbnail/entry_id/0_gcllgnuu/version/100002/acv/192"></span> <span itemprop="width" content="715"></span> <span itemprop="height" content="402"></span> </iframe>
        </p>
        <p>
          IT pros are the lifeblood of companies large and small who run on
          technology and need to keep IT up and running where they work. From
          the system administrator at a big manufacturing company to the help
          desk manager at a community college -- if they’re responsible for
          installing and maintaining information technologies, they can use
          Spiceworks to simplify their IT day.
        </p>

        <h2 id="how-do-it-pros-use-spiceworks">How do IT pros use the Spiceworks Desktop?</h2>
        <p>
          IT pros use Spiceworks to manage their network inventory, including
          devices, software, and even cloud services (Dropbox, Google Apps,
          etc.). Spiceworks also helps IT pros monitor their network so they can
          catch problems on critical systems before their users are affected.
          They also use it to manage their IT help desk, from tickets, to work
          flow organization, to knowledge base management.
        </p>

        <h2 id="a-community-6-million-strong">A community 6 million strong…</h2>
        <p>
          On top of the Spiceworks desktop app, SpiceHeads (what Spiceworks
          users have come to call themselves) also use the Spiceworks Community
          to help them do their job. The <a
          href="http://community.spiceworks.com" target="_blank">Spiceworks
          Community</a> hosts thousands of conversations every day, giving IT
          pros a place to trade tech tips, show off their awesome projects,
          share real-world advice from the IT trenches… and have a laugh.
        </p>

        <h2 id="next-steps">Want to sink your teeth in further?</h2>
        <ul>
          <li>
            <a href="http://community.spiceworks.com/product-plans/" target="_blank">
              Spiceworks Product Plans Overview
            </a> - Learn more about the philosophy behind Spiceworks’
            application development and the road ahead.
          </li>
          <li>
            <a href="http://community.spiceworks.com/blogs/products" target="_blank">
              Spiceworks Products Blog
            </a> - Follow or subscribe to stay on top of all the latest product
            news and developments.
          </li>
        </ul>

    </section>
  </main>
</div>
